$-Orange-500: #ff7506;

.login {
  margin: 0 auto;
  width: 99%;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;

  box-shadow: 0 0 20px 6px #090b6f85;

  @media (max-width: 980px) {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  div {
    height: auto;
  }

  .left {
    padding: 40px;
    overflow: hidden;

    @media (max-width: 980px) {
      width: 100%;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

    label {
      width: 133px;
      height: 27px;

      /* 18/18 Reg */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 50px;
      /* identical to box height, or 150% */

      color: #37474f;
    }
    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 240px 10px 12px;
      gap: 10px;
      background: #ffffff !important;
      border: 1.5px solid #d4d4d7;
      border-radius: 8px 0px 0px 8px;
    }
    .ant-input-affix-wrapper {
      border-radius: 8px;
      border: 1.5px solid #d4d4d7;
      width: 418px;
      height: 45px;
      font-weight: 300;
      font-size: 18px;
      padding: 0px;
    }
    .ant-input {
      border: none;
      font-size: revert;
    }
    .ant-input-suffix {
      background: #e8f0fe;
      margin-left: 0px;
      padding-right: 4px;
    }

    i:hover {
      cursor: pointer;
      .field-icon {
        box-sizing: border-box;

        position: absolute;
        left: 8.32%;
        right: 8.31%;
        top: 8.32%;
        bottom: 8.31%;

        background: #000000;
        /* gray blue/gray 4 - place holder */

        border: 1px solid #7e7d88;
      }
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 24px;
      gap: 8px;

      color: #e7e9f2;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      position: absolute;
      width: 162px;
      height: 40px;
      left: 150px;
      top: 480px;

      /* Orange/$-Orange-400 */

      background: $-Orange-500;
      /* down */

      box-shadow: 0px 0px 6px #e7e9f2;
      border-radius: 8px;
      border: 0px #ffffff solid;
      cursor: pointer;
    }

    .userLogin__formTextNav {
      position: absolute;
      width: 102px;
      height: 21px;
      left: 185px;
      top: 530px;

      /* 14/14 Reg */

      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */

      /* Red */
      a {
        color: #e73f3f !important;
      }
    }
    .userLogin__bottom {
      span {
        color: #e73f3f;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
      }
    }
  }

  .right > .queuing {
    display: flex;
    align-items: center;
    position: relative;
    .queuing {
      width: 50vh;
      height: 100vh;
      &__bg-img {
        position: relative;
        left: 15%;
        margin-top: 10%;
        margin-bottom: 8%;
        img {
          width: 100%;
        }
      }
      &__title {
        width: 400px;
        color: $-Orange-500;
        p {
          font-weight: 400;
          font-size: 34px;
          margin: 0;
        }
        span {
          width: 380px;

          font-weight: 900;
          font-size: 36px;
        }
      }
    }
  }
}
