.home {
  display: flex;

  .homeContainer {
    flex: 6;
    .main_content {
      display: flex;

      .left_content {
        flex: 1;
        h2 {
          padding-left: 24px;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          color: #ff7506;
        }
        .widgets {
          max-width: 180px;
          display: flex;
          padding: 20px;
          gap: 20px;
          margin-left: 10px;
        }
        .charts {
          display: flex;
          gap: 20px;
        }

        .charts {
          width: 60%;
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          margin: 10px;
          border-radius: 10px;
        }
      }

      .right_content {
        flex: 2;
        position: absolute;
        width: 401px;
        height: 810px;
        left: 945px;
        top: 105px;
        background: #ffffff;
        box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
        border-radius: 8px 0px 0px 8px;
      }
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
      .cfqheK {
        grid-gap: 13px;
      }
      .cIFnvd {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        font-weight: 700;
        font-size: 14px;
        color: #535261;
      }
      .EgCLV {
        --moedim-primary: #ff7506;
        border-radius: 8px;
      }
      .btFINQ {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #ff7506;
      }
      .kVEIdA {
        color: #ff7506;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        width: 36px;
      }
    }
  }
}
