* {
  padding-top: 10px;
  border-radius: 10px;
  font-family: "Nunito" !important;
  font-style: normal;
}
.logo {
  width: 50% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-body {
  padding: 0px !important;
  text-align: center;
}

.card-body h4 {
  margin-bottom: 0px !important;
  font-weight: bold;
}

.cancel-button {
  color: #ff9138 !important;
  background: #ffffff !important;
  border: 1px solid #ff9138 !important;
}
.next-button {
  background: #ff9138 !important;
  border: 1px solid #ff9138 !important;
}
a {
  color: #ff9138 !important;
  text-decoration: none !important;
}
