* {
  padding-top: 10px;
  border-radius: 10px;
  font-family: "Nunito" !important;
  font-style: normal;
}
.logo {
  width: 50% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login {
  padding: 15px;
  /* Orange/$-Orange-400 */

  background: #ff9138 !important;
  border: 1px solid #ff9138 !important;
  /* down */

  box-shadow: 0px 0px 6px #e7e9f2;
}
.forgot-pw a {
  color: #e73f3f !important;
}
.pass-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d4d4d7;
  padding: 5px;
}
.pass-wrapper i {
  position: absolute;
  top: 62.5%;
  right: 13%;
}
.pass-wrapper i:hover {
  color: #d4d4d7;
  cursor: pointer;
}
.pass-wrapper input {
  border: 0px solid #ffffff;
}
.pass-wrapper input:focus {
  border: 0px solid #ffffff !important;
  padding: 5px;
}
