.table {
  display: flex;
  .addNewDevice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    width: 80px;
    height: 94px;
    left: 94%;
    top: 240px;
    background: #fff2e7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 8px;
    .svg-inline--fa {
      background: #ff9138;
      color: #ffffff;
      border-radius: 4px;
      border: 1px solid #fff2e7;
      padding: 3px;
    }
    a {
      color: #ff9138;
      display: contents;
    }
  }
  .datatable {
    flex: 1;
    max-width: 90%;
    height: 600px;
    padding: 20px;

    .datatableTitle {
      width: 100%;
      font-weight: 700;
      font-size: 24px;
      color: #ff7506;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link {
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      padding-left: 10px;
    }
    .MuiDataGrid-columnHeader {
      padding: 0 1px !important;
    }
    .MuiDataGrid-columnHeaderDraggableContainer {
      background: #ff9138;
    }
    .MuiDataGrid-cellContent {
      padding-left: 10px;
      font-weight: 400;
      font-size: 14px;
      color: #535261;
    }

    .filterselect {
      display: flex;
      .selectactivity {
        flex: 1;
        .activityTitle {
          font-weight: 600;
          font-size: 16px;
          color: #282739;
        }
        .ant-select {
          width: 240px !important;
          height: 44px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          .ant-select-selector {
            border: 1.5px solid #d4d4d7;
            border-radius: 8px;
          }
        }
      }
      .selectconnection {
        flex: 2 1;
        margin-left: 24px;
        .connectionTitle {
          font-weight: 600;
          font-size: 16px;
          color: #282739;
        }
        .ant-select {
          width: 240px !important;
          height: 44px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          .ant-select-selector {
            border: 1.5px solid #d4d4d7;
            border-radius: 8px;
          }
        }
      }
      .searchInput {
        flex: 2 1;
        margin-left: 24px;
        .searchTitle {
          font-weight: 600;
          font-size: 16px;
          color: #282739;
        }
        .ant-input-wrapper {
          width: 300px !important;
          height: 44px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .ant-input {
            border-radius: 8px 0px 0px 8px;
            border: 1px 0 0 1px;
          }
          .ant-btn-primary {
            color: #ff7506;
            background: #ffffff;
            border: 1.5px solid #d4d4d7;
            border-radius: 0px 8px 8px 0px;
            border: 0px 1px 1px 0px;
          }
        }
      }
    }

    .cellWithImg {
      display: flex;
      align-items: center;

      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }

    .cellWithStatus {
      padding: 5px;
      border-radius: 5px;

      svg {
        width: 8px;
        height: 8px !important;
        margin-bottom: 3px;
      }

      &.Mất {
        color: #e73f3f;
      }
      &.Kết {
        color: #35c75a;
      }
      &.Ngưng {
        color: #ec3740;
      }
      &.Hoạt {
        color: #34cd26;
      }
      &.Đã {
        color: #34cd26;
      }
      &.Đang {
        color: #5490eb;
      }
      &.Vắng {
        color: #6c7585;
      }
      &.Bỏ {
        color: #e73f3f;
      }
    }

    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;

      .viewButton {
        width: 57px;
        height: 21px;
        text-decoration-line: underline;
        color: #4277ff;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
      }

      .updateButton {
        text-decoration-line: underline;
        color: #4277ff;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
